body{
    margin: 0%;
    height: 90vh;
}

table{
    border-collapse: collapse;
    border: black 1px solid;
   }


tr{
    border: black 1px solid;
}   
td{
    border: black 1px solid;
}

/*quizás sería bueno cambiar los bordes*/
/*Voy a poner un borde negro con 1px*/